<a name="about"></a>
<div class="intro-header">  
  <div class="row">
      <div class="col-lg-12">
          <div class="intro-message">
              <h1>Welcome to Rapid Talent Mapping</h1>
              <h3>Built With Rails 5</h3>                    
          </div>
      </div>
  </div>  
  <!-- /.container -->
</div>